# EDA and Pandas

## Get the Dataset

In kaggle webste you can find many datasets to play with [link](https://www.kaggle.com/datasets). You probably have to create an account first. 

Today we are using these two datasets:
1. SF Salaries [download](https://www.kaggle.com/kaggle/sf-salaries)
2. World University Rankings [download](https://www.kaggle.com/mylesoneill/world-university-rankings)

you can go to the page and hit `Download Data` to download them. After you download them, move the zip file to current directly and unzip it into a `data` folder.

Create a data folder:
```bash
mkdir data
cd data
```

move `sf-salaries` to data folder and unzip:
```bash
mv ~/Downloads/sf-salaries-release-2015-12-21-03-21-32.zip . 
unzip sf-salaries-release-2015-12-21-03-21-32.zip
```
move `world-university-ranking` to data folder and unzip:
```bash
mv ~/Downloads/world-university-ranking.zip . 
unzip world-university-ranking.zip
```

## 1. Load `SF Salaries` Data

In JupyterNotebook you can type `ls` to browse your files:

In [2]:
ls data

output/                                      world-university-ranking/
sf-salaries-release-2015-12-21-03-21-32.zip  world-university-ranking.zip

In [3]:
ls data/output

Salaries.csv     database.sqlite  hashes.txt

## 2. Basic DataFrame Operation

Let's load  the Salaries file:

In [4]:
import numpy as np
import pandas as pd
sf_salaries_df = pd.read_csv('data/output/Salaries.csv')

/Users/nasa56/env/datascience/lib/python2.7/site-packages/pandas/io/parsers.py:1170: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

In [5]:
# Check the first N rows
sf_salaries_df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.2,0,400184.2,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966,245131.9,137811.4,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.1,106088.2,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737,182234.6,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [6]:
# Check the last N rows
sf_salaries_df.tail()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [7]:
# Check the data types
sf_salaries_df.dtypes

Id                    int64
EmployeeName         object
JobTitle             object
BasePay              object
OvertimePay          object
OtherPay             object
Benefits             object
TotalPay            float64
TotalPayBenefits    float64
Year                  int64
Notes               float64
Agency               object
Status               object
dtype: object

In [8]:
# Check for misssing values
sf_salaries_df.isnull().any()

Id                  False
EmployeeName        False
JobTitle            False
BasePay              True
OvertimePay         False
OtherPay            False
Benefits             True
TotalPay            False
TotalPayBenefits    False
Year                False
Notes                True
Agency              False
Status               True
dtype: bool

In [9]:
# Summary
sf_salaries_df.describe()

                  Id       TotalPay  TotalPayBenefits           Year  Notes
count  148654.000000  148654.000000     148654.000000  148654.000000      0
mean    74327.500000   74768.321972      93692.554811    2012.522643    NaN
std     42912.857795   50517.005274      62793.533483       1.117538    NaN
min         1.000000    -618.130000       -618.130000    2011.000000    NaN
25%     37164.250000   36168.995000      44065.650000    2012.000000    NaN
50%     74327.500000   71426.610000      92404.090000    2013.000000    NaN
75%    111490.750000  105839.135000     132876.450000    2014.000000    NaN
max    148654.000000  567595.430000     567595.430000    2014.000000    NaN

In [25]:
# Check the dataframe dimension
sf_salaries_df.shape

(148654, 13)

### Did you see any problem with the datarame?

In [10]:
sf_salaries_df = sf_salaries_df.replace("Not Provided", np.nan)

In [16]:
# Enforce the type
sf_salaries_df[['BasePay', 'OvertimePay', 'OtherPay', 'TotalPay', 'TotalPayBenefits']] = sf_salaries_df[
    ['BasePay', 'OvertimePay', 'OtherPay', 'TotalPay', 'TotalPayBenefits']].astype('float64')
sf_salaries_df['Year'] = sf_salaries_df['Year'].astype('str')
sf_salaries_df['Id'] = sf_salaries_df['Id'].astype('str')

In [17]:
sf_salaries_df.describe()

,BasePay,OvertimePay,OtherPay,TotalPay,TotalPayBenefits,Notes
count,148045.000000,148650.000000,148650.000000,148654.000000,148654.000000,0
mean,66325.448840,5066.059886,3648.767297,74768.321972,93692.554811,NaN
std,42764.635495,11454.380559,8056.601866,50517.005274,62793.533483,NaN
min,-166.010000,-0.010000,-7058.590000,-618.130000,-618.130000,NaN
25%,33588.200000,0.000000,0.000000,36168.995000,44065.650000,NaN
50%,65007.450000,0.000000,811.270000,71426.610000,92404.090000,NaN
75%,94691.050000,4658.175000,4236.065000,105839.135000,132876.450000,NaN
max,319275.010000,245131.880000,400184.250000,567595.430000,567595.430000,NaN

In [15]:
sf_salaries_df.dtypes

Id                   object
EmployeeName         object
JobTitle             object
BasePay             float64
OvertimePay         float64
OtherPay            float64
Benefits             object
TotalPay            float64
TotalPayBenefits    float64
Year                 object
Notes               float64
Agency               object
Status               object
dtype: object

### What if we enforce the type right away?

In [21]:
sf_salaries_df2 = pd.read_csv('data/output/Salaries.csv')
# sf_salaries_df2[['BasePay', 'OvertimePay', 'OtherPay', 'TotalPay', 'TotalPayBenefits']] = sf_salaries_df2[
#     ['BasePay', 'OvertimePay', 'OtherPay', 'TotalPay', 'TotalPayBenefits']].astype('float64')
# sf_salaries_df2['Year'] = sf_salaries_df['Year'].astype('str')
# sf_salaries_df2['Id'] = sf_salaries_df['Id'].astype('str')

del sf_salaries_df2

### Other useful things to check

In [19]:
# Other useful things to check
print sf_salaries_df.Notes.value_counts()
print sf_salaries_df.Notes.nunique()

Series([], dtype: int64)
0

In [24]:
print sf_salaries_df.EmployeeName.nunique()

110810

In [26]:
print sf_salaries_df.JobTitle.value_counts()

Transit Operator                                      7036
Special Nurse                                         4389
Registered Nurse                                      3736
Public Svc Aide-Public Works                          2518
Police Officer 3                                      2421
Custodian                                             2418
TRANSIT OPERATOR                                      2388
Firefighter                                           2359
Recreation Leader                                     1971
Patient Care Assistant                                1945
Deputy Sheriff                                        1933
Police Officer                                        1476
SPECIAL NURSE                                         1402
Public Service Trainee                                1328
REGISTERED NURSE                                      1219
Police Officer 2                                      1141
Attorney (Civil/Criminal)                             1126
Porter                                                1095
Sergeant 3                                            1047
General Laborer                                       1033
EMT/Paramedic/Firefighter                              918
Gardener                                               894
Parking Control Officer                                868
Senior Clerk                                           840
Library Page                                           799
CUSTODIAN                                              796
FIREFIGHTER                                            794
POLICE OFFICER III                                     779
Clerk                                                  764
Eligibility Worker                                     760
                                                      ...
HEAVY EQUIPMENT OPERATIONS ASSISTANT SUPERVISOR          1
CHIEF DISTRICT ATTORNEY'S INVESTIGATOR                   1
TRAFFIC HEARING OFFICER                                  1
CAPTAIN, BUREAU OF FIRE PREVENTION AND PUBLIC SAFE       1
MENTAL HEALTH HEARING OFFICER                            1
Chief Investment Officer                                 1
CHIEF OF POLICE                                          1
IS Technician Assistant                                  1
LIBRARIAN II - ASIAN ARTS                                1
CONFIDENTIAL SECRETARY CITY ATTORNEY                     1
PUBLIC SAFETY COMMUNICATIONS TECHNICIAN                  1
CHIEF VICTIM/WITNESS INVESTIGATOR                        1
MAYOR'S PROGRAM MANAGER                                  1
SHERIFF                                                  1
Cfdntal Sctry to Distric Atty                            1
TRIAL DELAY REDUCTION COORDINATOR                        1
VETERNIARY LABORATORY TECHNOLOGIST                       1
CITY PLANNING GRAPHICS SUPERVISOR                        1
Captain, (Fire Department)                               1
TRANSIT POWER LINE WORKER SUPERVISOR II                  1
WIRE ROPE CABLE MAINTENANCE SUPERVISOR                   1
SUPPLY ROOM ATTENDENT                                    1
MEDIA PRODUCTION SUPERVISOR                              1
TRANSIT PAINT SHOP SUPERVISOR I                          1
SECRETARY, COMMISSION ON THE ENVIRONMENT                 1
ZOO CURATOR                                              1
Light Rail Vehicle Equip Eng                             1
COURT EXECUTIVE OFFICER                                  1
ASSISTANT DIRECTOR, JUVENILE HALL                        1
COURT ADMINISTRATIVE SECRETARY                           1
dtype: int64

## Select Column and Rows

In [54]:
sf_salaries_df[sf_salaries_df['JobTitle'] == 'Special Nurse'].head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
39881,39882,Christian Kitchin,Special Nurse,133932.19,17169.34,22662.64,8255.59,173764.17,182019.76,2012,NaN,San Francisco,NaN
41793,41794,Laurie Towns,Special Nurse,135691.93,2919.63,17621.18,9928.81,156232.74,166161.55,2012,NaN,San Francisco,NaN
42130,42131,Leah Custis,Special Nurse,127700.35,10214.69,22198.08,3752.82,160113.12,163865.94,2012,NaN,San Francisco,NaN
42394,42395,Jennifer Chiu,Special Nurse,124073.96,17112.23,17273.94,3909,158460.13,162369.13,2012,NaN,San Francisco,NaN
42535,42536,Genevieve Hamer,Special Nurse,128163.62,5377.31,21052.88,6769.96,154593.81,161363.77,2012,NaN,San Francisco,NaN

In [56]:
sf_salaries_df[sf_salaries_df['JobTitle'].str.contains('^(?i)nurse.*')].head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
168,169,AMPARO RODRIGUEZ,NURSE MANAGER,161044.00,4599.05,43997.82,NaN,209640.87,209640.87,2011,NaN,San Francisco,NaN
203,204,ROSELYN JEQUINTO,NURSE MANAGER,165996.75,8054.01,31660.13,NaN,205710.89,205710.89,2011,NaN,San Francisco,NaN
247,248,NANCY PARKER,NURSE MANAGER,171236.03,0.00,29584.32,NaN,200820.35,200820.35,2011,NaN,San Francisco,NaN
255,256,CRISTINA REYES,NURSE MANAGER,171236.02,0.00,29110.14,NaN,200346.16,200346.16,2011,NaN,San Francisco,NaN
297,298,JOSEPHINE RAPADAS,NURSE MANAGER,171071.36,7606.83,18210.20,NaN,196888.39,196888.39,2011,NaN,San Francisco,NaN

## Aggregation

In [57]:
# What's the averge top paying job
# What's the top 10 average paying job

In [76]:
title_df = pd.DataFrame()
title_df['avg_base_pay'] = sf_salaries_df.groupby('JobTitle').BasePay.mean().fillna(0).astype('int')
title_df['percentile'] = sf_salaries_df.groupby('JobTitle').BasePay.mean().rank(pct=True)
title_df.sort('percentile', ascending=False).head()

In [78]:
# What's the percentile of special nurse

                                        avg_base_pay  percentile
JobTitle
Chief of Police                               309767    1.000000
Chief, Fire Department                        304232    0.999536
Gen Mgr, Public Trnsp Dept                    297769    0.999071
CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)        285262    0.998607
Dep Dir for Investments, Ret                  276153    0.998143

## Pivot

In [82]:
sf_salaries_df.groupby(['JobTitle', 'Year']).TotalPay.mean().reset_index().pivot(index='JobTitle', 
                                                                                 columns='Year', 
                                                                                 values='TotalPay')

Year                                 2011  2012  2013      2014
JobTitle
ACCOUNT CLERK                44035.664337   NaN   NaN       NaN
ACCOUNTANT                   47429.268000   NaN   NaN       NaN
ACCOUNTANT INTERN            29031.742917   NaN   NaN       NaN
ACPO,JuvP, Juv Prob (SFERS)           NaN   NaN   NaN  62290.78
ACUPUNCTURIST                67594.400000   NaN   NaN       NaN

## Plotting

## Exploratory Data Analysis General Practice
1. Check each column and type. Enforce the type.
2. Check for missing values and then decide how to handle. 
3. Check outliers 
4. Check for distribution of each column 
5. See if there is any general patterns you can find